extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            .radio-wrapper
                input#videoRadio(type="radio",name="recordType",value="video",checked)
                label(for="videoRadio") Video Record
                input#screenRadio(type="radio",name="recordType",value="screen")
                label(for="screenRadio") Screen Record
            button#jsRecordBtn Start Video Recording
        form(action=`${routes.videos}${routes.upload}`, method="POST",enctype="multipart/form-data")
            .fileUpload
                label(for="file") Video File
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", name="title", placeholder="Title",required=true)
            textarea(name="description", placeholder="Description",required=true)
            input(type="submit", value="Upload Video")